# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
*.env

# Flask specific
instance/
*.db
*.sqlite3

# IDE / Editor
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Cache
*.cache/
pip-wheel-metadata/
